#has-pseudoselector {
  --scale-big: 1.125;
  --scale-medium: 0.875;
  --scale-small: 0.75;
  --opacity-medium: 0.6;
  --opacity-small: 0.3;

  .staircase {
    &__cards {
      display: flex;
      gap: 2.5rem;
      text-align: left;
      align-items: center;
    }

    &__card {
      background: var(--zinc-900);
      border-radius: 2rem;
      border: 1px solid var(--zinc-800);
      padding: 1.25rem 1.5rem;
      position: relative;
      overflow: hidden;
      width: 20%;
      transition: all 0.4s ease-in-out;
    }

    &__title {
      color: var(--zinc-50);
      font-size: 1.25rem;
      font-weight: 600;
      margin-top: 9em;
    }

    &__description {
      color: var(--zinc-400);
    }

    &__thumbnail {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
