// @keyframes orbit {
//   to {
//     rotate: 1turn;
//   }
// }

// @keyframes orbit-negative {
//   to {
//     rotate: -1turn;
//   }
// }

#trigonometric-functions {
  --zinc-800-transparent: rgba(39, 39, 42, 0.6);
  display: flex;
  justify-content: center;

  .orbit {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 30rem;

    &__center {
      position: absolute;
      height: 4rem;
      aspect-ratio: 1;
      color: var(--zinc-50);
      border-radius: 1.25rem;
    }

    &__items {
      position: absolute;
      margin: 0;
      padding: 0;
      height: 3.5rem;
      aspect-ratio: 1;
      list-style: none;
      animation: orbit 20s linear infinite;
    }

    &__item {
      position: absolute;
      display: block;
      cursor: pointer;
      height: 1.5rem;
      padding: 1rem;
      aspect-ratio: 1;
      background: linear-gradient(
        to bottom right,
        var(--color-1),
        var(--color-2)
      );
      border-radius: 50%;
      color: var(--zinc-800-transparent);
      animation: orbit-negative 20s linear infinite;
      transition: scale 0.3s ease-in-out;

      &:hover {
        scale: 1.125;
      }

      &::after {
        content: '';
        position: absolute;
        inset: -0.125rem;
        border-radius: inherit;
        z-index: -1;
        background: linear-gradient(
          to bottom right,
          var(--color-1),
          var(--color-2)
        );
        filter: blur(2.5rem);
        opacity: 0.5;
      }

      &:nth-of-type(1) {
        --color-1: #a3e635;
        --color-2: #4ade80;
      }

      &:nth-of-type(2) {
        --color-1: #22d3ee;
        --color-2: #2563eb;
      }

      &:nth-of-type(3) {
        --color-1: #fbbf24;
        --color-2: #ff3e00;
      }

      &:nth-of-type(4) {
        --color-1: #fb7185;
        --color-2: #dc2626;
      }

      &:nth-of-type(5) {
        --color-1: #e879f9;
        --color-2: #d946ef;
      }

      &:nth-of-type(6) {
        --color-1: #93c5fd;
        --color-2: #4f46e5;
      }
    }

    &:hover {
      .orbit__items,
      .orbit__item {
        animation-play-state: paused;
      }
    }
  }
}
